<!-- <div class="wrapper">
    <button mat-icon-button [matMenuTriggerFor]="langs"><mat-icon>more_vert</mat-icon></button>
    <mat-menu #langs="matMenu" yPosition="above">
        <button mat-menu-item [matMenuTriggerFor]="frontend">Frontend</button>
        <button mat-menu-item [matMenuTriggerFor]="backend">Backend</button>

    </mat-menu>

    <mat-menu #frontend="matMenu">

        <button mat-menu-item>
            <mat-icon>home</mat-icon>
            <span>Home</span>
        </button>
        <button mat-menu-item>CSS</button>
        <button mat-menu-item>JS</button>

    </mat-menu>
    <mat-menu #backend="matMenu">

        <button mat-menu-item>php</button>
        <button mat-menu-item>python</button>
        <button mat-menu-item>node js</button>

    </mat-menu>
</div> -->

<div class="wrapper m-3">
    <button mat-raised-button [matMenuTriggerFor]="animals">Fullstack Languages</button>
    <mat-menu #animals="matMenu">
        <button mat-menu-item [matMenuTriggerFor]="vertebrates">Frontend</button>
        <button mat-menu-item [matMenuTriggerFor]="invertebrates">Backend</button>
    </mat-menu>

    <mat-menu #vertebrates="matMenu">
        <button mat-menu-item [matMenuTriggerFor]="fish">HTML</button>
        <button mat-menu-item [matMenuTriggerFor]="amphibians">CSS</button>
        <button mat-menu-item [matMenuTriggerFor]="reptiles">JavaScript</button>
    </mat-menu>

    <mat-menu #invertebrates="matMenu">
        <button mat-menu-item>Node JS</button>
        <button mat-menu-item>Java</button>
        <button mat-menu-item>Python</button>
        <button mat-menu-item>PHP</button>

    </mat-menu>

    <mat-menu #fish="matMenu">
        <button mat-menu-item>Baikal oilfish</button>
        <button mat-menu-item>Bala shark</button>
        <button mat-menu-item>Ballan wrasse</button>
        <button mat-menu-item>Bamboo shark</button>
        <button mat-menu-item>Banded killifish</button>
    </mat-menu>

    <mat-menu #amphibians="matMenu">
        <button mat-menu-item>Sonoran desert toad</button>
        <button mat-menu-item>Western toad</button>
        <button mat-menu-item>Arroyo toad</button>
        <button mat-menu-item>Yosemite toad</button>
    </mat-menu>

    <mat-menu #reptiles="matMenu">
        <button mat-menu-item>Banded Day Gecko</button>
        <button mat-menu-item>Banded Gila Monster</button>
        <button mat-menu-item>Black Tree Monitor</button>
        <button mat-menu-item>Blue Spiny Lizard</button>
        <button mat-menu-item disabled>Velociraptor</button>
    </mat-menu>

</div>