<h1 class="text-primary text-center m-2">Angular Material Form Field Component</h1>
<div class="wrapper">


    <mat-form-field appearance="legacy" color="accent">
        <mat-label>Name</mat-label>
        <input matInput>
    </mat-form-field>

    <mat-form-field appearance="fill">
        <mat-label>Email</mat-label>
        <input matInput>
    </mat-form-field>

    <mat-form-field appearance="outline">
        <mat-label>Mobile</mat-label>
        <input matInput>
    </mat-form-field>
    <mat-form-field appearance="fill">
        <mat-label>State</mat-label>
        <mat-select>
            <mat-option value="one">First option</mat-option>
            <mat-option value="two">Second option</mat-option>
        </mat-select>
    </mat-form-field>
    <mat-form-field appearance="fill">
        <mat-label>Address</mat-label>
        <textarea matInput></textarea>
    </mat-form-field>





</div>



















<!-- <div class="wrapper">
    <mat-form-field appearance="fill">
        <mat-label>Name</mat-label>
        <input matInput>
    </mat-form-field>
    <mat-form-field appearance="standard">
        <mat-label>Email</mat-label>
        <input matInput>
    </mat-form-field>
    <mat-form-field appearance="legacy">
        <mat-label>Mobile</mat-label>
        <input matInput>
    </mat-form-field>
    <mat-form-field appearance="outline">
        <mat-label>Input</mat-label>
        <input matInput>
    </mat-form-field>
    <mat-form-field appearance="fill">
        <mat-label>Country</mat-label>
        <mat-select>
            <mat-option value="one">India</mat-option>
            <mat-option value="two">US</mat-option>
        </mat-select>
    </mat-form-field>
    <mat-form-field appearance="fill">
        <mat-label>Address</mat-label>
        <textarea matInput></textarea>
    </mat-form-field>
    <input type="text">
</div> -->